<div class="row">
    <div class="col-12 col-md-6" *ngIf="recentlyViewedDocuments.length > 0 ">
        <div class="section-title">
            <h2>{{'RECENTLY_VIEWED' | translate}}</h2>
            <ng-container>
                <ul style="list-style-type: none;margin-top: 10px;">
                    <li *ngFor="let r of recentlyViewedDocuments">
                        <a href="#" onClick="onDocumentView(r)">{{r.documentName}}</a>
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="favouriteDocuments.length > 0">
        <div class="section-title">
            <h2>{{'FAVOURITE_DOCUMENTS' | translate}}</h2>
            <ng-container>
                <ul style="list-style-type: none;margin-top: 10px;">
                    <li *ngFor="let f of favouriteDocuments">
                        <a href="#" onClick="onDocumentView(f)">{{f.documentName}}</a>
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
</div>
<div class="chart-div">
    <app-document-by-category-chart></app-document-by-category-chart>
</div>
<app-calender-view></app-calender-view>